@import '../../../style/variable';

// 按钮类型的配置
$type: (
        primary: (
                color: $p-light-text,
                background-color: $p-primary
        ),
        secondary: (
                color: $p-text,
                background-color: $p-block,
                border-color: $p-line
        ),
        text: (
                padding: 0,
                color: $p-brand-active
        )
);
// 伪类的配置
$pseudo: (
        primary: (
                hover: (
                        background-color: $p-primary-hover
                ),
                focus: (
                        background-color: $p-primary-hover
                ),
                active: (
                        background-color: $p-primary-active
                ),
                disabled: (
                        color: $p-light-text,
                        background-color: $p-primary-disabled,
                        border: none
                )
        ),
        secondary: (
                hover: (
                        border-color: $p-form-control-line-active,
                        color: $p-brand-active
                ),
                focus: (
                        border-color: $p-form-control-line-active,
                        color: $p-brand-active
                ),
                active: (
                        border-color: $p-form-control-line-active,
                        color: $p-brand-active
                ),
                disabled: (
                        color: $p-disabled-text,
                        background-color: $p-disabled-bg,
                        border: 1px solid $p-disabled-line
                )
        ),
        text: (
                hover: (
                        color: $p-brand-active-focus
                ),
                focus: (
                        color: $p-brand-active-focus
                ),
                active: (
                        color: $p-brand-active-focus
                ),
                disabled: (
                        color: $p-disabled-text
                )
        )
);
// 按钮尺寸
$size: (
        small: (
                height: 24px,
                padding: 0 16px,
                font-size: $p-font-size-sm
        ),
        medium: (
                font-size: $p-font-size-md
        ),
        large: (
                height: 32px,
                padding: 0 24px,
                font-size: $p-font-size-lg
        )
);